<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3369105ea54a802cb72112e76b51775c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3369105ea54a802cb72112e76b51775c" ></div>
        
</body>
<script>
    
    
            var map_3369105ea54a802cb72112e76b51775c = L.map(
                "map_3369105ea54a802cb72112e76b51775c",
                {
                    center: [53.8611703, -2.5650887919475496],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f86072b338c1c6f63ded276f7027e6b5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
            var marker_ca3fc9b32489340b82d1e3b2a61ea205 = L.marker(
                [53.97181926489053, -2.4186123501498384],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_03ca265b6fabdc1593068dc22582aedd = L.popup({"maxWidth": 200});

        
            
                var html_44655a27a67fef7ed5b1f1053e0d297f = $(`<div id="html_44655a27a67fef7ed5b1f1053e0d297f" style="width: 100.0%; height: 100.0%;"><b>Car Stickers</b><br>Timestamp: 2023-09-27 10:34:26<br>Road:nan<br>City: Ribble Valley<br>County: Lancashire</div>`)[0];
                popup_03ca265b6fabdc1593068dc22582aedd.setContent(html_44655a27a67fef7ed5b1f1053e0d297f);
            
        

        marker_ca3fc9b32489340b82d1e3b2a61ea205.bindPopup(popup_03ca265b6fabdc1593068dc22582aedd)
        ;

        
    
    
            var marker_a6bebb01ae9877661931dd6343fe06de = L.marker(
                [54.0109816364178, -2.6901777291749176],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_1abcab4f240966925634952dfd86458d = L.popup({"maxWidth": 200});

        
            
                var html_6ca95987531622b3d5f1683c80de6e0f = $(`<div id="html_6ca95987531622b3d5f1683c80de6e0f" style="width: 100.0%; height: 100.0%;"><b>Streetlamps</b><br>Timestamp: 2023-09-12 04:27:09<br>Road:Abbeystead Lane<br>City: Lancaster<br>County: Lancashire</div>`)[0];
                popup_1abcab4f240966925634952dfd86458d.setContent(html_6ca95987531622b3d5f1683c80de6e0f);
            
        

        marker_a6bebb01ae9877661931dd6343fe06de.bindPopup(popup_1abcab4f240966925634952dfd86458d)
        ;

        
    
    
            var marker_8e85bc3b4c30ab1344682721da77cd12 = L.marker(
                [53.998751851199856, -2.667370728149526],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_b82c14c02f6f247602cca1943c33074c = L.popup({"maxWidth": 200});

        
            
                var html_c22fc8227203d92fabe91857b58895ae = $(`<div id="html_c22fc8227203d92fabe91857b58895ae" style="width: 100.0%; height: 100.0%;"><b>Vapour</b><br>Timestamp: 2023-09-14 14:57:32<br>Road:nan<br>City: Lancaster<br>County: Lancashire</div>`)[0];
                popup_b82c14c02f6f247602cca1943c33074c.setContent(html_c22fc8227203d92fabe91857b58895ae);
            
        

        marker_8e85bc3b4c30ab1344682721da77cd12.bindPopup(popup_b82c14c02f6f247602cca1943c33074c)
        ;

        
    
    
            var marker_8ba7fb19cf2e1831191c129136a263ff = L.marker(
                [53.57771944632331, -2.969290323470039],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_1d8aa03c8076c4ce65ff5aedead46903 = L.popup({"maxWidth": 200});

        
            
                var html_db850b4959717f116cfac06dd4576cf5 = $(`<div id="html_db850b4959717f116cfac06dd4576cf5" style="width: 100.0%; height: 100.0%;"><b>Vapour</b><br>Timestamp: 2023-06-20 13:12:57<br>Road:Plex Moss Lane<br>City: West Lancashire<br>County: Lancashire</div>`)[0];
                popup_1d8aa03c8076c4ce65ff5aedead46903.setContent(html_db850b4959717f116cfac06dd4576cf5);
            
        

        marker_8ba7fb19cf2e1831191c129136a263ff.bindPopup(popup_1d8aa03c8076c4ce65ff5aedead46903)
        ;

        
    
    
            var marker_ea1c9b5ab3b5618d2efc3d0919c99fcf = L.marker(
                [53.85505633290538, -2.271158441724372],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_381dac2be375ae74cda2cd059048035b = L.popup({"maxWidth": 200});

        
            
                var html_0fc2b0fa13c201364e8cd1c5a2eea55d = $(`<div id="html_0fc2b0fa13c201364e8cd1c5a2eea55d" style="width: 100.0%; height: 100.0%;"><b>Fact News</b><br>Timestamp: 2023-07-27 16:08:07<br>Road:Cross Lane<br>City: Pendle<br>County: Lancashire</div>`)[0];
                popup_381dac2be375ae74cda2cd059048035b.setContent(html_0fc2b0fa13c201364e8cd1c5a2eea55d);
            
        

        marker_ea1c9b5ab3b5618d2efc3d0919c99fcf.bindPopup(popup_381dac2be375ae74cda2cd059048035b)
        ;

        
    
    
            var marker_d1047fb925f850f3add96c8d78b7260e = L.marker(
                [53.69332432270457, -2.884093094915652],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_c2539fd130c0da45d1be5745e47c3851 = L.popup({"maxWidth": 200});

        
            
                var html_414588205cd4fa43d955f3623d0ae76b = $(`<div id="html_414588205cd4fa43d955f3623d0ae76b" style="width: 100.0%; height: 100.0%;"><b>Streetlamps</b><br>Timestamp: 2023-07-11 04:57:00<br>Road:Hundred End Lane<br>City: West Lancashire<br>County: Lancashire</div>`)[0];
                popup_c2539fd130c0da45d1be5745e47c3851.setContent(html_414588205cd4fa43d955f3623d0ae76b);
            
        

        marker_d1047fb925f850f3add96c8d78b7260e.bindPopup(popup_c2539fd130c0da45d1be5745e47c3851)
        ;

        
    
    
            var marker_add3426a3e5cb6feac5d65b8582e10d0 = L.marker(
                [53.90768380717434, -2.337427532900516],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_98f7e18877a518c60bd18632a21e16c7 = L.popup({"maxWidth": 200});

        
            
                var html_6d173453d29a5b81c014d76b79c98b4d = $(`<div id="html_6d173453d29a5b81c014d76b79c98b4d" style="width: 100.0%; height: 100.0%;"><b>CatShoes</b><br>Timestamp: 2023-08-04 01:50:44<br>Road:A59<br>City: Ribble Valley<br>County: Lancashire</div>`)[0];
                popup_98f7e18877a518c60bd18632a21e16c7.setContent(html_6d173453d29a5b81c014d76b79c98b4d);
            
        

        marker_add3426a3e5cb6feac5d65b8582e10d0.bindPopup(popup_98f7e18877a518c60bd18632a21e16c7)
        ;

        
    
    
            var marker_bc7434c83d5a05f486e966ac01cc4eac = L.marker(
                [54.171002463311495, -2.7659897641066875],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_4b5eea4431a508c7c5954bddeca183e3 = L.popup({"maxWidth": 200});

        
            
                var html_5cfbdda7e9ad2f34dc81ba072ccfe9de = $(`<div id="html_5cfbdda7e9ad2f34dc81ba072ccfe9de" style="width: 100.0%; height: 100.0%;"><b>MoonHog</b><br>Timestamp: 2023-09-11 15:08:45<br>Road:Footeran Lane<br>City: Lancaster<br>County: Lancashire</div>`)[0];
                popup_4b5eea4431a508c7c5954bddeca183e3.setContent(html_5cfbdda7e9ad2f34dc81ba072ccfe9de);
            
        

        marker_bc7434c83d5a05f486e966ac01cc4eac.bindPopup(popup_4b5eea4431a508c7c5954bddeca183e3)
        ;

        
    
    
            var marker_97897424efa8970f45cc22113aa64cf4 = L.marker(
                [53.89133665552818, -2.2993929783881715],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_7412cdb07882dc12abe9c05a22b087ae = L.popup({"maxWidth": 200});

        
            
                var html_84cbc6d0582613375fbcc42eae845ea7 = $(`<div id="html_84cbc6d0582613375fbcc42eae845ea7" style="width: 100.0%; height: 100.0%;"><b>Capital Two</b><br>Timestamp: 2023-07-14 19:18:34<br>Road:Twiston Lane<br>City: Ribble Valley<br>County: Lancashire</div>`)[0];
                popup_7412cdb07882dc12abe9c05a22b087ae.setContent(html_84cbc6d0582613375fbcc42eae845ea7);
            
        

        marker_97897424efa8970f45cc22113aa64cf4.bindPopup(popup_7412cdb07882dc12abe9c05a22b087ae)
        ;

        
    
    
            var marker_e5b9c72a6c36bb628309b6d3125a2f6c = L.marker(
                [53.87422328821391, -2.4339418568249216],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_0bf759d52ba7134db62e76c5caac1fe3 = L.popup({"maxWidth": 200});

        
            
                var html_6dddfb578b3594ec3c14b8b686d5211e = $(`<div id="html_6dddfb578b3594ec3c14b8b686d5211e" style="width: 100.0%; height: 100.0%;"><b>Pear Retail</b><br>Timestamp: 2023-07-06 00:19:23<br>Road:Twitter Lane<br>City: Ribble Valley<br>County: Lancashire</div>`)[0];
                popup_0bf759d52ba7134db62e76c5caac1fe3.setContent(html_6dddfb578b3594ec3c14b8b686d5211e);
            
        

        marker_e5b9c72a6c36bb628309b6d3125a2f6c.bindPopup(popup_0bf759d52ba7134db62e76c5caac1fe3)
        ;

        
    
    
            var marker_e1966b0dfe102904aae05d7654f5fdd1 = L.marker(
                [53.839645365645694, -2.6325392478910827],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_a00a0c80302628d317e6b2b89e6446d8 = L.popup({"maxWidth": 200});

        
            
                var html_66e03e60110920302cc05a4c30fb7a19 = $(`<div id="html_66e03e60110920302cc05a4c30fb7a19" style="width: 100.0%; height: 100.0%;"><b>Boardwalk Games</b><br>Timestamp: 2023-10-17 06:39:13<br>Road:Inglewhite Road<br>City: Preston<br>County: Lancashire</div>`)[0];
                popup_a00a0c80302628d317e6b2b89e6446d8.setContent(html_66e03e60110920302cc05a4c30fb7a19);
            
        

        marker_e1966b0dfe102904aae05d7654f5fdd1.bindPopup(popup_a00a0c80302628d317e6b2b89e6446d8)
        ;

        
    
    
            var marker_e12fd04dc47dabf442b4aff5a0326f04 = L.marker(
                [54.081092391425685, -2.7953036302317287],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_19be7172f436902f800c47f8cf02fd49 = L.popup({"maxWidth": 200});

        
            
                var html_ea85a230e37e5dc6e0589e307dc5e129 = $(`<div id="html_ea85a230e37e5dc6e0589e307dc5e129" style="width: 100.0%; height: 100.0%;"><b>MoonHog</b><br>Timestamp: 2023-10-01 00:54:43<br>Road:Bottomdale Road<br>City: Lancaster<br>County: Lancashire</div>`)[0];
                popup_19be7172f436902f800c47f8cf02fd49.setContent(html_ea85a230e37e5dc6e0589e307dc5e129);
            
        

        marker_e12fd04dc47dabf442b4aff5a0326f04.bindPopup(popup_19be7172f436902f800c47f8cf02fd49)
        ;

        
    
    
            var marker_c43d01f39f8704dbb7cf12d2d7e1f535 = L.marker(
                [53.72839857101638, -2.260959240846918],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_ff3d4dbff2ee5dc2c307902efceff3fa = L.popup({"maxWidth": 200});

        
            
                var html_f67a2b6afafceca86bd28a1aea53752f = $(`<div id="html_f67a2b6afafceca86bd28a1aea53752f" style="width: 100.0%; height: 100.0%;"><b>Pear Retail</b><br>Timestamp: 2023-09-05 16:56:45<br>Road:nan<br>City: Rossendale<br>County: Lancashire</div>`)[0];
                popup_ff3d4dbff2ee5dc2c307902efceff3fa.setContent(html_f67a2b6afafceca86bd28a1aea53752f);
            
        

        marker_c43d01f39f8704dbb7cf12d2d7e1f535.bindPopup(popup_ff3d4dbff2ee5dc2c307902efceff3fa)
        ;

        
    
    
            var marker_5857e6989999ac8aac732b21289874b6 = L.marker(
                [53.58417320397901, -3.0222077148065303],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_02bd6b3140ef2ca933162d792870b88e = L.popup({"maxWidth": 200});

        
            
                var html_3c839308b365910bfa9265db1a944f54 = $(`<div id="html_3c839308b365910bfa9265db1a944f54" style="width: 100.0%; height: 100.0%;"><b>Streetlamps</b><br>Timestamp: 2023-07-26 20:34:08<br>Road:Plex Moss Lane<br>City: West Lancashire<br>County: Lancashire</div>`)[0];
                popup_02bd6b3140ef2ca933162d792870b88e.setContent(html_3c839308b365910bfa9265db1a944f54);
            
        

        marker_5857e6989999ac8aac732b21289874b6.bindPopup(popup_02bd6b3140ef2ca933162d792870b88e)
        ;

        
    
    
            var marker_712f7324062151472565782b3ae0c0dd = L.marker(
                [54.06010707686856, -2.661193884329577],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_6e08993f25cc6a9eadead7b08a0477d2 = L.popup({"maxWidth": 200});

        
            
                var html_f953314105648e06435478c1e2b241fc = $(`<div id="html_f953314105648e06435478c1e2b241fc" style="width: 100.0%; height: 100.0%;"><b>Boardwalk Games</b><br>Timestamp: 2023-09-17 16:39:56<br>Road:Roeburndale Road<br>City: Lancaster<br>County: Lancashire</div>`)[0];
                popup_6e08993f25cc6a9eadead7b08a0477d2.setContent(html_f953314105648e06435478c1e2b241fc);
            
        

        marker_712f7324062151472565782b3ae0c0dd.bindPopup(popup_6e08993f25cc6a9eadead7b08a0477d2)
        ;

        
    
    
            var marker_fe035d5cef46de7365d76fefc064492e = L.marker(
                [54.02919465493337, -2.4491865417762084],
                {}
            ).addTo(map_3369105ea54a802cb72112e76b51775c);
        
    
        var popup_627eda7a0ba668f2f788fced921327ff = L.popup({"maxWidth": 200});

        
            
                var html_3978bfe0b829035bd80533ec96d7359a = $(`<div id="html_3978bfe0b829035bd80533ec96d7359a" style="width: 100.0%; height: 100.0%;"><b>Blahbucks</b><br>Timestamp: 2023-05-25 20:02:29<br>Road:nan<br>City: Ribble Valley<br>County: Lancashire</div>`)[0];
                popup_627eda7a0ba668f2f788fced921327ff.setContent(html_3978bfe0b829035bd80533ec96d7359a);
            
        

        marker_fe035d5cef46de7365d76fefc064492e.bindPopup(popup_627eda7a0ba668f2f788fced921327ff)
        ;

        
    
</script>
</html>