<!DOCTYPE html>
<html>
<head>
    <!-- Include CSS and JavaScript for the map -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"
</head>
<body>
    {% for m in get_flashed_messages() %}
    {{m}}
    {%endfor%}
    <div id="map"></div>
    <form id="search-form" method="post" >
        <input type="text"  id="search-input" placeholder="Enter a city or merchant name">
        <button type="submit">Search</button>
    </form>
    <br>
    <iframe style="position: absolute;width:100%; height: 90%; border: none" src="/map" frameborder="0"></iframe>

</body>
</html>